<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AudioAllowAACPass</key>
		<integer>1</integer>
		<key>AudioAllowAC3Pass</key>
		<integer>1</integer>
		<key>AudioAllowDTSHDPass</key>
		<integer>1</integer>
		<key>AudioAllowDTSPass</key>
		<integer>1</integer>
		<key>AudioAllowMP3Pass</key>
		<integer>1</integer>
		<key>AudioEncoderFallback</key>
		<string>AC3 (ffmpeg)</string>
		<key>AudioList</key>
		<array>
			<dict>
				<key>AudioBitrate</key>
				<string>160</string>
				<key>AudioEncoder</key>
				<string>AAC (avcodec)</string>
				<key>AudioMixdown</key>
				<string>Dolby Pro Logic II</string>
				<key>AudioSamplerate</key>
				<string>Auto</string>
				<key>AudioTrack</key>
				<integer>1</integer>
				<key>AudioTrackDRCSlider</key>
				<real>0.0</real>
				<key>AudioTrackGainSlider</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>AudioBitrate</key>
				<string>160</string>
				<key>AudioEncoder</key>
				<string>AC3 Passthru</string>
				<key>AudioMixdown</key>
				<string>None</string>
				<key>AudioSamplerate</key>
				<string>Auto</string>
				<key>AudioTrack</key>
				<integer>1</integer>
				<key>AudioTrackDRCSlider</key>
				<real>0.0</real>
				<key>AudioTrackGainSlider</key>
				<real>0.0</real>
			</dict>
		</array>
		<key>ChapterMarkers</key>
		<integer>1</integer>
		<key>Default</key>
		<false/>
		<key>FileFormat</key>
		<string>MP4 file</string>
		<key>Folder</key>
		<integer>0</integer>
		<key>Mp4HttpOptimize</key>
		<integer>0</integer>
		<key>Mp4LargeFile</key>
		<integer>1</integer>
		<key>Mp4iPodCompatible</key>
		<integer>0</integer>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>0</integer>
		<key>PictureDeblock</key>
		<integer>0</integer>
		<key>PictureDecomb</key>
		<integer>2</integer>
		<key>PictureDecombCustom</key>
		<string></string>
		<key>PictureDecombDeinterlace</key>
		<integer>1</integer>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureDeinterlaceCustom</key>
		<string></string>
		<key>PictureDenoise</key>
		<integer>0</integer>
		<key>PictureDenoiseCustom</key>
		<string></string>
		<key>PictureDetelecine</key>
		<integer>0</integer>
		<key>PictureDetelecineCustom</key>
		<string></string>
		<key>PictureHeight</key>
		<integer>0</integer>
		<key>PictureKeepRatio</key>
		<integer>0</integer>
		<key>PictureLeftCrop</key>
		<integer>0</integer>
		<key>PictureModulus</key>
		<integer>2</integer>
		<key>PicturePAR</key>
		<integer>2</integer>
		<key>PictureRightCrop</key>
		<integer>0</integer>
		<key>PictureTopCrop</key>
		<integer>0</integer>
		<key>PictureWidth</key>
		<integer>0</integer>
		<key>PresetBuildNumber</key>
		<string>2014122101</string>
		<key>PresetDescription</key>
		<string>HandBrake's general-purpose preset for High Profile H.264 video.</string>
		<key>PresetName</key>
		<string>test</string>
		<key>Subtitles</key>
		<string>None</string>
		<key>Type</key>
		<integer>0</integer>
		<key>UsesPictureFilters</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>2500</string>
		<key>VideoEncoder</key>
		<string>H.264 (x264)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoFramerateMode</key>
		<string>vfr</string>
		<key>VideoGrayScale</key>
		<integer>0</integer>
		<key>VideoLevel</key>
		<string>4.1</string>
		<key>VideoOptionExtra</key>
		<string></string>
		<key>VideoPreset</key>
		<string>medium</string>
		<key>VideoProfile</key>
		<string>high</string>
		<key>VideoQualitySlider</key>
		<real>20</real>
		<key>VideoQualityType</key>
		<integer>2</integer>
		<key>VideoTune</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>0</integer>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string></string>
		<key>x264UseAdvancedOptions</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
