/tools/handbrake/osx/doc/
/tools/handbrake/osx/HandBrakeCLI
/tools/handbrake/windows/doc/
/tools/handbrake/windows/fonts/
/tools/handbrake/windows/HandBrakeCLI.exe
/tools/handbrake/windows/libaacs.dll
/tools/handbrake/windows/libbdplus.dll
/tools/handbrake/windows/libdvdcss-2.dll
/build/
/.DS_Store
