# binary files
/tools/handbrake/osx/doc/
/tools/handbrake/osx/HandBrakeCLI
/tools/handbrake/windows/doc/
/tools/handbrake/windows/fonts/
/tools/handbrake/windows/HandBrakeCLI.exe
/tools/handbrake/windows/libaacs.dll
/tools/handbrake/windows/libbdplus.dll
/tools/handbrake/windows/libdvdcss-2.dll

# backups
*.bak

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
